{% block menu %}
<nav class="navbar navbar-default" role="navigation">
		
	<div class="navbar-header"><a class="navbar-brand" href="#">Symfony 2 SE</a></div>
	
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
		  <li><a href="{{ path('readme') }}">Readme</a></li>
		</ul>
	</div>

</nav>
{% endblock %}